<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <h1>Add a new message</h1>
    <form method="post" action="/new">
      <label for="fname">Name:</label><br />
      <input
        type="text"
        name="fname"
        id="fname"
        required
        aria-required="true"
        aria-label="Your full name"
      /><br />
      <label for="ftext">Enter Message</label><br />
      <textarea
        name="ftext"
        id="ftext"
        minlength="2"
        maxlength="140"
        required
        aria-required="true"
        aria-label="Your message"
      ></textarea>
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
